body{
    margin: 0;
}
button{
    text-align: center;
}

#Register-form{
    display: flex;
    background-image: radial-gradient(#3c2b1a, #a1b2c3);
    padding: 20px;
    border: 6px ridge #3c2b1a;
    height: 250px;
    width: 350px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#Form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



main{
    justify-content: center;
}


.warning{
    color: red;
    font-size: 8px
}
