body{
    margin: 0;
}
button{
    text-align: center;
}

#Register-form{
    display: flex;
    background-image: radial-gradient(#ff21e0, #b147a3);
    padding: 20px;
    border: 6px ridge #b147a3;
    height: 200px;
    width: 350px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    
}

#Form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#RegButton{
    font-size: 15px;
    background-color: whitesmoke;
}

main{
    justify-content: center;
}