{% extends "layout.html" %}

{% block body %}
<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dolorum et natus magni delectus blanditiis voluptatem at laboriosam accusamus cupiditate, vel vero obcaecati sint a enim neque recusandae itaque non! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quibusdam tempore enim, culpa, aliquid dicta est atque cum corrupti incidunt commodi mollitia amet inventore quisquam. Vel culpa dignissimos beatae officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae necessitatibus! Accusamus nesciunt cum quis corporis modi laboriosam rem, quod, iste odio beatae harum distinctio, fugit iusto provident quibusdam enim? </h1>
{% endblock %}