<link rel="stylesheet" href="{{url_for('static', filename='bookingstyles.css')}}">
{% extends "layout.html" %}
{% block body %}
    {%if username %}
        {% if count >= 5 %}
        <h1>{{book}}</h1>
        <p>click<a href="{{url_for('Booking')}}">here</a>to go back to bookings page</p>
        {% elif count < 5 %}
            <h1>Create booking</h1>
            <p>which booking would you like?</p>
            <!--form to let user book session-->
            <form method="POST" class="Createbook">
                <select name="subject" id="subject">
                    <option required>Maths</option>
                    <option required>English</option>
                    <option required>Philosophy</option>
                    <option required>Physics</option>
                    <option required>Psychology</option>
                    <option required>Geography</option>
                </select>
                <br>
                <input type="date" class="date" name="date" required>
                <br>
                <button type="submit">Submit</button>
            </form>
            {% endif %}
    {% else %}
    <h1>You are not logged in. <a href="{{url_for('login')}}">Log in</a></h1>
    {% endif %}
{% endblock %}