<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Document</title>
</head>

<body>
    {% if username %}

        <header>
            <img class="left" src="{{url_for('static', filename='GibjohnLogo.png')}}" alt=".">
            <a href="{{url_for('index')}}">GibJohn tutoring</a>

        <header>GibJohn tutoring 

            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('about')}}">About us</a>
            <a href="{{url_for('Booking')}}">Bookings</a>
            <a href="{{url_for('logout')}}">Log out</a>

        </header>
    {% else %}    
        <header>
            <img src="{{url_for('static', filename='GibjohnLogo.png')}}" alt=".">
            <a href="{{url_for('index')}}">GibJohn Tutoring</a>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('about')}}">About us</a>
            <a href="{{url_for('Booking')}}">Bookings</a>
            <a href="{{url_for('login')}}">Log in</a>
        </header>
    {% endif %}
    <main>{% block body %}{% endblock %}</main>
    <footer>© 2055 Gibjohn Tutoring</footer>
</body>

</html>

