<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Document</title>
</head>

<body>
    {% if username %}
        <header>
            <img class="left headerV" src="{{url_for('static', filename='GibjohnLogo.png')}}" alt=".">
            <a href="{{url_for('index')}}"   class=" left headerV">GibJohn tutoring</a>
            <a href="{{url_for('index')}}"   class="headerV">Home</a>
            <a href="{{url_for('about')}}"   class="headerV">About us</a>
            <a href="{{url_for('Booking')}}" class="headerV">Bookings</a>
            <a href="{{url_for('logout')}}"  class="headerV">Log out</a>
        </header>
    {% else %}    
        <header>
            <img src="{{url_for('static', filename='GibjohnLogo.png')}}" alt="." class="headerV">
            <a href="{{url_for('index')}}" class="headerV">GibJohn Tutoring</a>
            <a href="{{url_for('index')}}" class="headerV">Home</a>
            <a href="{{url_for('about')}}" class="headerV">About us</a>
            <a href="{{url_for('Booking')}}" class="headerV">Bookings</a>
            <a href="{{url_for('login')}}" class="headerV">Log in</a>
            <a href="{{url_for('register')}}" class="headerV">Register</a>
        </header>
    {% endif %}
    <main>{% block body %}{% endblock %}</main>
    <footer>© 2055 Gibjohn Tutoring</footer>
</body>

</html>