<link rel="stylesheet" href="{{url_for('static', filename='loginstyles.css')}}">
{% extends "layout.html" %}
{% block body %}
<h1>Log in:</h1>
<div id="Register-form">    
    <br>
    <form method="POST" action="/login" id="Form-container">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="John_Doe123" autocomplete="off">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" autocomplete="off">
        <button type="submit">Log in</button>
    </form>
</div>
<h1>Dont have an account? <a href="{{url_for('register')}}">Click here</a></h1>
{% endblock %}